body{
    margin:0 auto;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace, Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    background-color: #EF2D56; 
    width:100%; 
}
.nav-link{
    font-weight:900;
    font-size: 1.3rem;
}
.navbar-nav{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
#search-input{
    width:10rem;
    border-radius: 15px;
}