body{
    margin:0 auto;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace, Georgia, 'Times New Roman', Times, serif;
    background-color: #06c1ff;
}
.navbar{
    background-color: #D94165; 
    width:100%; 
}
.nav-link{
    font-weight:900;
    font-size: 1.3rem;
}
.navbar-nav{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
#search-input{
    width:10rem;
    border-radius: 15px;
}


section .box-days{
    width:25rem;
    height:100px;
    background-color: #073B4C;  
}
.display-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.color{
    color:white;
}

/* photo gallery */
.photo-gallery-display{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card:hover{
    transform: scale(1.05);
    transition: 0.4s ease-in;
}

@media(max-width:850px){
    main .media-split-cont{
        display: flex;
        flex-direction: column;
    }
    main .img-center{
        margin-left: 5rem;
    }   
    main .margin-all{
        margin:1rem;
    }
    .display-content{
        flex-direction: column;
        align-items: center;
    }
    .photo-gallery-display{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
}